@font-face
    font-family: gloria
    src: url(../fonts/GloriaHallelujah-Regular.ttf)
.titre
    font-family: gloria

.heroSection
    background-color: #dcdcdc
    padding: 5vh
    img
        width: 40%
.leftSideHeroS
    width: 30%
.heroBtn
    border: none
    background: none
    font-weight: normal
    display: flex
    justify-content: center
    align-items: center
    gap: 0.5vw
    i
        color: #dd1f1f
        font-size: 1.8vw
        font-weight: lighter
.bookTable
    background-color: #da0000
    border: none
    border-radius: 50px
    padding: 0.5vw 1.8vw
    color: #ffffff
    box-shadow: 6px 3px 20px rgba(221, 16, 16, 40%)

.aboutSectionLeft
    display: flex
    justify-content: center
    position: relative
    background-image: url(../images/img/about.jpg)
    width: 58%
    height: 100vh
    background-size: cover
    background-repeat: no-repeat
    div
        position: absolute
        bottom: 30px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
.aboutSectionRight
    width: 42%
    display: flex
    flex-direction: column
    gap: 1vh
.aboutSectionRightVideo
    color: #d40b0b
    font-size: 7vw
    position: relative
    display: flex
    justify-content: center
    align-items: center
    background-image: url(../images/img/about-2.jpg)
    width: 100%
    height: 60vh
    background-size: contain
    background-repeat: no-repeat
    div
        position: absolute
        background-color: #fff
        // width: 150px
        // height: 150px
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
.cards
    background-color: #bab8b825
    display: flex
    align-items: center
    padding: 5vh
    gap: 2vw
.firstCard
    width: 30%
    background-color: #ce1b1b
    color: #ffffff
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 5vh
    button
        width: 40%
        border-radius: 50px
        border: none
        background-color: #ee3e3e
        color: #fff
        padding: 1vw
.whiteCards
    background-color: #fff
    width: 20%
    height: fit-content
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    padding: 2vw
    gap: 2vh
    transition: 0.2s
    i
        color: #ee3e3e
        font-size: 40px
    span
        font-size: 1.5vw
    &:hover
        transform: scale(1.06)

.cardChefs
    background-color: #ffffff
    width: 30%
    text-align: center
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 20%)
    .chefImg
        background-image: url(../images/img/chefs/chefs-1.jpg)
        width: 100%
        height: 50vh
        background-repeat: no-repeat
        background-size: cover
        position: relative
        div
            position: absolute
            right: 1vw
            top: 3vh
            background-color: #acaaaa
            opacity: 50%
            border-radius: 0.2rem
            padding: 0.5vw
            width: fit-content
            display: flex
            flex-direction: column
            font-size: larger
            gap: 0.5vh
            text-decoration: none
            color: #000000
            display: none
            transition: 2s
    &:hover
        transform: scale(1.03)
        .chefImg
            div
                display: flex
    .chefImg2
        background-image: url(../images/img/chefs/chefs-2.jpg)
        width: 100%
        height: 50vh
        background-repeat: no-repeat
        background-size: cover
        position: relative
        div
            position: absolute
            right: 1vw
            top: 3vh
            background-color: #acaaaa
            opacity: 50%
            border-radius: 0.2rem
            padding: 0.5vw
            width: fit-content
            display: flex
            flex-direction: column
            font-size: larger
            gap: 0.5vh
            text-decoration: none
            color: #000000
            display: none
            transition: 2s
    &:hover
        transform: scale(1.03)
        .chefImg2
            div
                display: flex
    .chefImg3
        background-image: url(../images/img/chefs/chefs-3.jpg)
        width: 100%
        height: 50vh
        background-repeat: no-repeat
        background-size: cover
        position: relative
        div
            position: absolute
            right: 1vw
            top: 3vh
            background-color: #acaaaa
            opacity: 50%
            border-radius: 0.2rem
            padding: 0.5vw
            width: fit-content
            display: flex
            flex-direction: column
            font-size: larger
            gap: 0.5vh
            text-decoration: none
            color: #000000
            display: none
            transition: 2s
    &:hover
        transform: scale(1.03)
        .chefImg3
            div
                display: flex
.bookImg
    background-image: url("../images/img/reservation(1).jpg ")
    width: 50%
    height: 70vh
    background-size: 100%
    background-repeat: no-repeat

.bookForm
    display: flex
    flex-direction: column
    gap: 1vw
    justify-content: center
    align-items: center
    form
        display: flex
        flex-wrap: wrap
        gap: 2vw
        input
            width: 30%
            padding: 1vw
            border: 1px solid #d8d6d6
        textarea
            padding: 1vw
            width: 96%
            border: 1px solid #d8d6d6
    button
        width: fit-content
        left: 50%
        top: 45%
.comment
    width: 50%
.commentImg
    background-image: url(../images/img/testimonials/testimonials-1.jpg)
    width: 10vw
    height: 10vw
    border-radius: 1000px
    background-size: cover
    background-repeat: no-repeat
.commentImg1
    background-image: url(../images/img/testimonials/testimonials-2.jpg)
.commentImg2
    background-image: url(../images/img/testimonials/testimonials-3.jpg)
.commentImg3
    background-image: url(../images/img/testimonials/testimonials-4.jpg)

.carousel-indicators
    button
        width: 0.6vw !important
        height: 0.6vw !important
        border-radius: 50%
        background-color: #d41313 !important
.foodChoices
    display: flex
    justify-content: center
    align-items: center
    gap: 1vw
    button
        border: none
        font-size: larger
        border-bottom: 2px solid #060606
        background: none
        &:hover
            color: #d01b1b
        &:focus
            color: #d01b1b
            border-bottom: 2px solid #d01b1b
.palteMenu
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    gap: 3vw
.plate
    text-align: center
    width: 30vw
    // display: flex
    // flex-direction: column
    // align-items: center
    img
        width: 15vw
        margin-bottom: 1vh
.statistics
    background-image: url(../images/img/stats-bg.jpg)
    background-attachment: fixed
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    height: 50vh
    div
        width: 100%
        height: 100%
        background-color: #27272762
        display: flex
        justify-content: center
        align-items: center
        div
            display: flex
            flex-direction: column
            color: #fff
            font-weight: bolder
            font-size: large

.map
    display: flex
    justify-content: center
    align-items: center
    padding: 2vw 10vw
    iframe
        border: none
        width: 100%
.contact
    width: 80%
.contactDetail
    display: flex
    align-items: center
    background-color: #d0cfcf
    width: 40%
    gap: 2vw
    padding: 1vh
    i
        color: #fff
        font-size: 2vw
        background-color: #e11616
        width: 4vw
        height: 4vw
        display: flex
        justify-content: center
        align-items: center
        border-radius: 60%
.contactForm
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 1vw
    width: 80%
    background: #fcfcfc
    box-shadow: 2px 5px 70px rgba(0, 0, 0, 20%)
    padding: 2vw
    form
        display: flex
        flex-direction: column
        width: 100%
        gap: 1vw
        div
            display: flex
            gap: 1vw
            input
                width: 50%
        input
            width: 100%
            padding: 1vh
